{% extends 'base.html' %}

{% block content %}

<!-- Hero Section -->
<div class="bg-secondary bg-opacity-25 py-2 text-center mb-3">
    <h2 class="fw-bold text-light">Your Notes</h2>
    <p class="text-light">Private notes — only you can see them</p>

    {% if user.is_authenticated %}
        <a href="{% url 'add_note'  %}" class="btn btn-warning px-4 mt-2">+ Add Note</a>
    <form action="" class="d-flex justify-content-center mt-3" style="max-width: 400px; margin: auto;" method="GET">
        <input type="text" class="form-control bg-dark text-light" name="search" value="{{ search|default:'' }}" placeholder="Search Notes...">
        <button class="btn btn-info ms-2">Search</button>
    </form>
    {% endif %}
</div>

<!-- Notes List -->
<div class="container mt-4">

    <div class="row  g-4">

        {% if notes %}
            {% for note in notes %}
           <div class="col-md-6 col-lg-4 d-flex">
              <div class="card shadow bg-dark text-light border-secondary w-100 mb-3  position-relative ">
                    <div class="card-body">
                      <h5 class="card-title">{{ note.title }}</h5>
                      <a href="{% url 'toggle_pin' note.id %}"
   class="pin-icon {% if note.pinned %}pinned{% else %}unpinned{% endif %}">
    {% if note.pinned %}
        ⭐
    {% else %}
        ☆
    {% endif %}
</a>




<p class="text-light small">
    {{ note.content|truncatechars:50 }}
</p>
<div class="d-flex gap-2 mt-2 ">
<a href="{% url 'view' note.id %}" class="btn btn-warning btn-sm mt-2">View</a>
<a href="{% url 'edit_note' note.id %}" class="btn btn-warning btn-sm mt-2">Edit</a>
<form action="{% url 'delete_note' note.id %}" method="post" onsubmit="return confirm('Delete this note?')">
    {% csrf_token %}
    <button class="btn btn-danger btn-sm mt-2"> <i class="bi bi-trash"></i> Delete</button>
</form>

</div>
          <p class="text-light small mt-4">
             {{ note.created_at|date:"M d, Y — H:i" }}
     </p>

                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}

        <div class="text-center text-secondary mt-5">
            <h4>No notes yet</h4>
            <p>Create your first note using the button above.</p>
        </div>

        {% endif %}

    </div>

</div>

{% endblock %}
